* {
  font-family: Roboto, Sans serif;
}

body {
  margin: 0px;
}

/* Header*/
.header__logo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
}

.location__text {
  display: flex;
  justify-content: center;
  padding: 5%;
  font-size: 16px;
  background: rgb(230, 230, 230);
  background: linear-gradient(0deg, rgb(230, 230, 230) 0%, rgb(230, 230, 230) 86%, rgb(210, 210, 210) 100%);
}
.location__text .fa-location-dot {
  margin-right: 10px;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}

.explore__title {
  text-align: center;
  font-family: Roboto, Sans Serif;
  font-weight: 700;
  padding-left: 8%;
  padding-right: 8%;
}

.explore__text {
  text-align: center;
  font-family: Roboto, Sans Serif;
  font-weight: 300;
}

.explore__btn {
  margin: auto;
  margin-top: 8%;
  margin-bottom: 5%;
  padding: 15px 25px 15px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: 0px none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

/* Footer */
.footer {
  height: 100%;
  width: 100%;
  background-color: #343636;
  color: white;
}
.footer__logo {
  display: flex;
  font-family: Shrikhand, cursive;
  margin-left: 8%;
  padding-top: 5%;
}
.footer__list {
  list-style-type: none;
  line-height: 1.5;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-handshake-angle {
  margin-right: 8px;
}

/* Functions */
.function__title {
  margin-left: 5%;
}

.function__step {
  list-style-type: none;
  counter-reset: Listcount;
  margin: auto;
  padding: 30px 20px 30px 30px;
  background-color: #F6F6F6;
  margin-bottom: 5%;
  margin-right: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.function__step__text {
  font-weight: 500;
  font-size: 16px;
}
.function__step.function__step::before {
  counter-increment: ListCount;
  content: Counter(ListCount);
  position: absolute;
  background: #9356DC;
  color: #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30px;
}

li.function__step {
  margin-right: 5%;
}

.fa-list-ul {
  margin-right: 30px;
}

.fa-mobile-screen-button {
  margin-right: 30px;
}

.fa-store {
  margin-right: 30px;
}

/* Restaurants */
.restaurants {
  background-color: #EDEDED;
}
.restaurants__title {
  margin-left: 5%;
  padding-top: 10%;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.card__heart {
  width: auto;
  position: absolute;
  right: 15px;
  bottom: 23px;
}

a.card {
  color: black;
  text-decoration: none;
  margin-bottom: 5%;
  width: 90%;
}
a.card .card {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
a.card .card__title {
  margin-bottom: 3px;
  margin-left: 10px;
  margin-top: 0px;
}
a.card .card__content {
  width: auto;
  background-color: white;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -3px;
}
a.card .card__img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
a.card span.card__text {
  display: flex;
  padding-bottom: 3%;
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: 200;
}

h3.card__title {
  padding-top: 3%;
}

/*Cards*/

/*# sourceMappingURL=style.css.map */
