@use "../utils/variables" as *;
@use "../utils/mixin" as *;

.header__restaurants{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo--restaurants{
    @include text-centered;
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    margin: 10px;

    @media (min-width: 767.98px) {
        margin: 1.5%;
        font-size: 40px;
    }
}

.arrow-icon{
    position: absolute;
    left: 30px;
    top: 25px;
    @media (min-width: 767.98px) {
    top: 35px;}
}

.top-page{
    height: 250px;

    &__palette{
        object-fit: cover;
        height: 100%;
        width: 100%;

    }
}


@include restaurant-main-section;



.menu-detail{
    margin: auto;
    width: 95%;
    display: flex;
    
    &__border{
        border-bottom: solid $color-terciary;
        position: absolute;
        height: 10px;
        width: 40px;

    }

    &__title{
        display: block;
        padding-left: 3%;
        padding-bottom: 5px;
        margin-top: 10px;
        position: absolute;
        width: max-content;
        bottom: 1px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 105%;
        padding-inline-start: 0px;
        padding-top: 5%;
        padding-bottom: 5%;
        @media (min-width: 767.98px){
            width: 95%;
        }
    }

    &__container{
        display: flex;   
        width:85%;
        list-style-type: none;
        counter-reset: Listcount;
        overflow: hidden;
        @include btn-menu-detail;
         &__card-text{
            font-weight: 500;
            font-size: 16px;
            @media (min-width: 767.98px){
                font-weight: bold;
            }
         }}
    &__card-title{
        margin: 0px;
        margin-bottom: 2%;
    }
    &__step{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: inherit;
    }
    &__price{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        font-weight: bold;

    }
    &__check{
        background-color:$color-terciary;
        margin: -1rem -5rem -1rem 1rem;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;
    } 
    }

    .menu-detail__container:hover .menu-detail__check {
    margin-right: -1rem;
}

    .circle-color{
        color: white;
    }

.explore__btn--commander{
    @include btn-explore;
    margin-top: 0px;
    width: 15%;
    display: flex;
    justify-content: center;
}

.card__icon--menu{
    width: 31px;
}