@use "../utils/variables" as *;
@use "../utils/mixin" as *;
@use "../utils/keyframes" as *;

/* Restaurants */

.header__restaurants{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo--restaurants{
    @include text-centered;
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    margin: 10px;

    @media (min-width: 767.98px) {
        margin: 1.5%;
        font-size: 40px;
    }
}

.arrow-icon{
    position: absolute;
    left: 30px;
    top: 40%;
    @media (min-width: 767.98px) {
    top: 45%;}
    color: black;
    &:active{
        color: black;
    }
}

.top-page{
    height: 250px;

    &__img{
        object-fit: cover;
        height: 100%;
        width: 100%;

    }
}

.restaurants{
    background-color: #EDEDED;
    &__title{
        margin-left: 5%;
        padding-top: 10%;
        @media (min-width: 767.98px){
            padding-top:3%;
            padding-bottom:1%;
        }
    }
}


@include restaurant-main-section;

.menu-detail{
    margin: auto;
    width: 95%;
    display: flex;
    
    &__border{
        border-bottom: solid $color-terciary;
        position: absolute;
        height: 10px;
        width: 40px;
    }

    &__title{
        display: block;
        padding-left: 3%;
        padding-bottom: 5px;
        margin-top: 10px;
        position: absolute;
        width: max-content;
        bottom: 1px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-inline-start: 0px;
        padding-top: 3%;
        padding-bottom: 3%;
        @media (min-width: 767.98px){
            width: 95%;
        }
    }

    &__container{
        display: flex;   
        width:85%;
        list-style-type: none;
        counter-reset: Listcount;
        overflow: hidden;
        position: relative;
        @include btn-menu-detail;}
    &__card-text{
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    }
    &__card-title{
        margin: 0px;
        margin-bottom: 2%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__text-container{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__step{
        display: flex;
        flex-direction: column;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__price{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        font-weight: bold;
        background-color: white;
        position: relative;
    }
    &__check{
        background-color:$color-terciary;
        margin: -1rem -5rem -1rem 1rem;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;
    } 
    }

@include check-card-animation;

.explore__btn--commander{
    @include btn-explore;
    margin-top: 0px;
    width: 15%;
    display: flex;
    justify-content: center;
}

.card__icon--menu{
    width: 3px;
}

.menu-detail__container.menu-detail__animation {
    animation: menu-card-appear  1s;
    animation-fill-mode: both;
  }

  .menu-detail__container.menu-detail__animation:nth-child(1) {
    animation-delay: 0.5s;
  }
  
  .menu-detail__container.menu-detail__animation:nth-child(2) {
    animation-delay: 0.7s;
  }
  
  .menu-detail__container.menu-detail__animation:nth-child(3) {
    animation-delay: 0.9s;
  }

  .menu-detail__container.menu-detail__animation:nth-child(4) {
    animation-delay: 1.1s;
  }




