@use "../utils/variables" as *;
@use "../utils/mixin" as *;

/* Fonctionnement */
.function__list{
    list-style: none;
    counter-reset: Listcount;
    @media (min-width: 767.98px){
        display: flex;
        justify-content: space-around;
    }
}

.function__title{
    margin-left: 5%
}

.function__step{
    position: relative;
    left: 1%;
    list-style-type: none;
    counter-reset: Listcount;
    @include btn-step;
     &__text{
        font-weight: 500;
        font-size: 16px;
        @media (min-width: 767.98px){
            font-weight: bold;
        }
     }
}

.function__list .function__step::before {
    counter-increment: Listcount;
    content: counter(Listcount);
    position: absolute;
    z-index: 1;
    background: $color-primary;
    color: #ffffff;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px;
}

li.function__step:nth-child(1) {
    counter-reset: Listcount 0; 
  }
  
  li.function__step:nth-child(2) {
    counter-reset: Listcount 1; 
  }
  
  li.function__step:nth-child(3) {
    counter-reset: Listcount 2; 
  }

li.function__step{
    margin-right:5%;
}


.fa-list-ul{
    margin-right:30px;
}
.fa-mobile-screen-button{
    margin-right:30px;
}
.fa-store{
    margin-right:30px;
}

.fa-mobile-screen-button, .fa-list-ul{
    color: #c0c0c0;
}

.fa-store{
    color: #9356DC;
}