/* Header*/

@media (max-width: 599px) {
    .header__logo{
        @include text-centered;
        font-size: 30px;
        font-family: 'Shrikhand', cursive;
    }
    .location__text{
        @include text-centered;
    }
    .explore{
        display: flex;
        flex-direction: column;
        background-color: #f0f0f0,
    }
    .explore__title{
        text-align: center;
    }
    .explore__text{
        text-align: center;
    }
    .explore__btn{
        @include btn-explor;
    }
}