@use "../utils/variables" as *;
@use "../utils/mixin" as *;
/* Header*/


    .header__logo{
        @include text-centered;
        font-size: 30px;
        font-family: 'Shrikhand', cursive;
    }
    .location__text{
        @include text-centered;
        padding: 3%;
        font-size: 14px;
        background: rgb(230,230,230);
        background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 86%, rgba(210,210,210,1) 100%);
            .fa-location-dot{
                margin-right: 10px;
            }
    }
    .explore{
        display: flex;
        flex-direction: column;
        background-color: #F6F6F6;
        
    }
    .explore__title{
        text-align: center;
    }
    .explore__text{
        text-align: center;
    }
    .explore__btn{
        @include btn-explore;
    }
